<section>
  <div class="converter">
    <h1>Currency Converter</h1>
    <p>Check live foreign currency exchange rates</p>
    <form>
      <p>You give:</p>
      <div class="currency-from">
        <input (input)="onValueChange($event)" name="fromValue" [ngModel]="fromValue" type="number" autocomplete="off" placeholder="0"/>
        <select (change)="onCurrencyChange($event)" name="fromCurrency" [(ngModel)]="fromCurrency">
          <option  *ngFor="let currency of currencies" [value]="currency">
            {{currency}}
          </option>
        </select>
      </div>
      <div class="switch-button">
        <button (click)="switchValues($event)">
          <fa-icon [icon]="faRepeat"></fa-icon>
        </button>
      </div>
      <p>You receive:</p>
      <div class="currency-to">
        <input (input)="onValueChange($event)" name="toValue" [ngModel]="toValue" type="number" autocomplete="off" placeholder="0"/>
        <select (change)="onCurrencyChange($event)" name="toCurrency" [(ngModel)]="toCurrency">
          <option  *ngFor="let currency of currencies" [value]="currency">
            {{currency}}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="image">
    <img src="../../../assets/converter-image.png"/>
  </div>
</section>
