<section>
  <div class="converter">
    <h1>Currency Converter</h1>
    <p>Check live foreign currency exchange rates</p>
    <form *ngIf="!isCurrenciesLoading; else loader">
      <p>You give:</p>
      <div class="currency-from">
        <input name="fromValue" type="number" [(ngModel)]="fromValue" (input)="onValueChange($event)" autocomplete="off" placeholder="0"/>
        <select name="fromCurrency" [(ngModel)]="fromCurrency" (change)="onCurrencyChange($event)">
          <option  *ngFor="let currency of currencies" [value]="currency[0]">
            {{currency[0]}}
          </option>
        </select>
      </div>
      <div class="switch-button">
        <button (click)="switchCurrencies($event)">
          <fa-icon [icon]="faRepeat"></fa-icon>
        </button>
      </div>
      <p>You receive:</p>
      <div class="currency-to">
        <input type="number" name="toValue" [(ngModel)]="toValue" (input)="onValueChange($event)" autocomplete="off" placeholder="0"/>
        <select name="toCurrency" [(ngModel)]="toCurrency" (change)="onCurrencyChange($event)">
          <option  *ngFor="let currency of currencies" [value]="currency[0]">
            {{currency[0]}}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="image">
    <img src="../../../assets/converter-image.png"/>
  </div>
</section>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
